<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
<h1>Лабрадудль</h1>
<p><img src = "../static/Labradoodle_Brown.jpg"</p>
<div>
    <h2>Хаюшки, Я <a href="https://ru.wikipedia.org/wiki/Лабрадудль"<strong>Лабрадудль</strong></h2></a> (англ.
    <em>labradoodle</em>) — метис или породная группа собак,созданная путём скрещивания лабрадора-ретривера и пуделя.
</div>
<p>
    «Лабрадудль» (Лабрадудель) впервые появился в 1955 году, но не был популярным до 1988 года, когда смесь была
    использована в качестве собаки-поводыря.
</p>
<div>
    <h4>Лабрадудли</h4> используются в канистерапии, поисково-спасательной службе, <del>дабы были</del>.
</div>
<div>
    С лабрадудлями занимаются также и спортом: <mark>аджилити, фрисби, фристайл.</mark>
</div>
</body>
</html>